openapi: 3.2.0
info:
  title: Ionetix Content API (WordPress REST wp/v2) Search API
  version: wp/v2
  summary: Site-wide search across ionetix.com posts and pages.
  description: 'Ionetix publishes ionetix.com on WordPress, which exposes the WordPress REST API at https://ionetix.com/wp-json/.
    The wp/v2 namespace is anonymously readable and returns the company''s news and careers posts, cardiac-PET /
    N-13 Ammonia / alpha-therapy product pages, leadership profiles, media library (including the ION-12SC cyclotron
    data sheet PDFs), taxonomies and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://ionetix.com/wp-json/
    on 2026-08-23, and from the per-route JSON Schema each collection returns to an HTTP OPTIONS request — every
    path, method, parameter and schema below is taken verbatim from those descriptors. Ionetix does not publish
    an OpenAPI definition of its own, and this is not a product API: it is the content API the CMS exposes. Write
    operations exist on these routes but require authentication (WordPress Application Passwords over HTTP Basic).'
  contact:
    name: Ionetix
    url: https://ionetix.com/contact/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://ionetix.com/wp-json/
  x-derived-on: '2026-08-23'
  x-provider-published: false
servers:
- url: https://ionetix.com/wp-json
  description: Production
tags:
- name: Search
  description: Site-wide search across ionetix.com posts and pages.
paths:
  /wp/v2/search:
    get:
      operationId: getWpV2Search
      summary: GET /wp/v2/search
      description: Declared by the ionetix.com WordPress REST route index at https://ionetix.com/wp-json/.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          default: any
          items:
            enum:
            - post
            - page
            - category
            - post_tag
            - any
            type: string
        description: Limit results to items of one or more object subtypes.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/search'
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or insufficient capability (rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No route or resource found (rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope (WP_Error serialization).
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
      required:
      - code
      - message
    search:
      $schema: http://json-schema.org/draft-04/schema#
      title: search-result
      type: object
      properties:
        id:
          description: Unique identifier for the object.
          type:
          - integer
          - string
        title:
          description: The title for the object.
          type: string
        url:
          description: URL to the object.
          type: string
          format: uri
        type:
          description: Object type.
          type: string
          enum:
          - post
          - term
          - post-format
        subtype:
          description: Object subtype.
          type: string
          enum:
          - post
          - page
          - category
          - post_tag
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords over HTTP Basic. The route index at https://ionetix.com/wp-json/
        advertises the authorization endpoint https://ionetix.com/wp-admin/authorize-application.php. Read operations
        on this namespace are anonymous; write operations are not.
